{%load static%}
<div class="progress-bar-wrap">
    <div class="progress-bar color-bg"></div>
</div>
<!-- progress-bar end -->
<!-- header -->
<header class="main-header">
    <!-- top bar -->
    <div class="top-bar fl-wrap">
        <div class="container">
            <div class="date-holder">
                <span class="date_num"></span>
                <span class="date_mounth"></span>
                <span class="date_year"></span>
            </div>
            {%if messages%}
            <div class="header_news-ticker-wrap">
                <div class="hnt_title">Message:</div>
                <div class="header_news-ticker fl-wrap">
                    <ul>

                        {% for message in messages %}
										<li class="alert alert-{{message.tags}}" role="alert" style="color:white">
											{{ message }}
										</li>
									{% endfor %}

                    </ul>
                </div>
                <div class="n_contr-wrap">
                    <div class="n_contr p_btn"><i class="fas fa-caret-left"></i></div>
                    <div class="n_contr n_btn"><i class="fas fa-caret-right"></i></div>
                </div>
            </div>
            {%endif%}
            <ul class="topbar-social">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- top bar end -->
    <div class="header-inner fl-wrap">
        <div class="container">
            <!-- logo holder  -->
            <a href="{%url 'home'%}" class="logo-holder"><img src="{% static '' %}images/logo.png" alt=""></a>
            <!-- logo holder end -->
            <div class="search_btn htact show_search-btn"><i class="far fa-search"></i> <span class="header-tooltip">Search</span></div>
            <!-- header-search-wrap -->
            <div class="header-search-wrap novis_sarch">
                <div class="widget-inner">
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input name="query" id="query" type="text" class="search" placeholder="Search..." value="" />
                        <button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
                    </form>
                </div>
            </div>
            <!-- header-search-wrap end -->
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <!--  navigation -->
            <div class="nav-holder main-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="{%url 'home'%}" class="act-link">Home</a>
                        </li>
                        <li>
                            <a href="{%url 'category' 0 %}">Category</a>
                        </li>
                        {%if user.id is None%}
                        <li>
                            <a href="{%url 'login'%}">Login</a>
                        </li>
                        <li>
                            <a href="{%url 'signup'%}">SignUp</a>
                        </li>
                        {%endif%}
                        {%if user.id is not None%}
                        <li>
                            <a href="#">{{user.first_name}}<i class="fas fa-caret-down"></i></a>
                            <!--second level -->
                            <ul>
                                <li><a href="{%url 'myprofile'%}">My Profile</a></li>
                                <li><a href="{%url 'addblog'%}">Add a Post</a></li>
                                <li><a href="{%url 'logout'%}">LogOut</a></li>

                            </ul>
                            <!--second level end-->
                        </li>
                        {%endif%}


                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </div>
    </div>
</header>
<!-- header end  -->