{%load static%}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>{%block title%}Blog Website {%endblock%}</title>
        <meta name="robots" content="index, follow" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/plugins.css">
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/style.css">
        <link type="text/css" rel="stylesheet" href="{% static '' %}css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static '' %}images/favicon.ico">
        {%block style%}
        {%endblock%}
    </head>
    <body>
        <!-- main start  -->
        <div id="main">
            {%include 'header.html'%}
            {%block body%}

            {%endblock%}
            {%include 'footer.html'%}

        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->


    </body>
</html>