{%extends 'homebase.html'%}
{%load static%}
{%block body%}
<!-- wrapper -->
<div id="wrapper">
<!-- content    -->
<div class="content">
    <!-- hero grid    -->
    <div class="hero-hrid fl-wrap gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-slider-wrap fl-wrap">
                        <div class="single-slider fl-wrap">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!-- swiper-slide   -->
                                    {%for b in blog_old%}
                                    <div class="swiper-slide">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media gpm_sing">
                                                <div class="bg" data-bg="{{b.image.url}}"></div>
                                                <div class="author-link"><a href=""><img src="{{b.user.userprofile.image.url}}" alt="">  <span>By {{b.user.first_name}} {{b.user.last_name}}</span></a></div>
                                                <div class="grid-post-media_title">
                                                    <a class="post-category-marker" href="{%url 'category' b.category.id %}">{{b.category}}</a>
                                                    <h4><a href="{% url 'blogdetail' b.id b.slug %}">{{b.title}}</a></h4>
                                                    <span class="video-date"><i class="far fa-clock"></i> {{b.create_at}}</span>
                                                    <ul class="post-opt">
                                                        <li><i class="far fa-comments-alt"></i>  25 </li>
                                                        <li><i class="fal fa-eye"></i> {{b.views}} </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end   -->
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="ss-slider-cont ss-slider-cont-prev"><i class="fas fa-caret-left"></i></div>
                        <div class="ss-slider-cont ss-slider-cont-next"><i class="fas fa-caret-right"></i></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- hero grid end   -->
    <!-- section  -->
    <section>
        <div class="container">
            <div class="section-title sect_dec">
                <h2>New In Categories</h2>
                <h4>Don't miss daily blogs</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="list-post-wrap list-post-wrap_column list-post-wrap_column_fw">
                        <!--list-post-->
                        <div class="list-post fl-wrap">
                            <a class="post-category-marker" href="{%url 'category' blog_new.category.id%}">{{blog_new.category}}</a>
                            <div class="list-post-media">
                                <a href="{%url 'blogdetail' blog_new.id blog_new.slug%}">
                                    <div class="bg-wrap">
                                        <div class="bg" data-bg="{{blog_new.image.url}}"></div>
                                    </div>
                                </a>
                                <span class="post-media_title">&copy; {{blog_new.user.first_name}} {{blog_new.user.last_name}}</span>
                            </div>
                            <div class="list-post-content">
                                <h3><a href="{%url 'blogdetail' blog_new.id blog_new.slug%}">{{blog_new.title}} </a></h3>
                                <span class="post-date"><i class="far fa-clock"></i>{{blog_new.create_at}}</span>
                                <p>{{blog_new.description}}</p>
                                <ul class="post-opt">
                                    <li><i class="far fa-comments-alt"></i> 6 </li>
                                    <li><i class="fal fa-eye"></i> {{blog_new.views}} </li>
                                </ul>
                                <div class="author-link"><a href=""><img src="{{blog_new.user.userprofile.image.url}}" alt="">  <span>By {{blog_new.user.first_name}} {{blog_new.user.last_name}}</span></a></div>
                            </div>
                        </div>
                        <!--list-post end-->
                    </div>
                    <a href="{%url 'blogdetail' blog_new.id blog_new.slug%}" class="dark-btn fl-wrap"> Read all News </a>
                </div>
                <div class="col-md-7">
                    <div class="picker-wrap-container fl-wrap">
                        <div class="picker-wrap-controls">
                            <ul class="fl-wrap">
                                <li><span class="pwc_up"><i class="fas fa-caret-up"></i></span></li>
                                <li><span class="pwc_pause"><i class="fas fa-pause"></i></span></li>
                                <li><span class="pwc_down"><i class="fas fa-caret-down"></i></span></li>
                            </ul>
                        </div>
                        <div class="picker-wrap fl-wrap">
                            <div class="list-post-wrap  fl-wrap">
                                <!--list-post-->
                                {%for b in blog_picked%}
                                <div class="list-post fl-wrap">
                                    <div class="list-post-media">
                                        <a href="">
                                            <div class="bg-wrap">
                                                <div class="bg" data-bg="{{b.image.url}}"></div>
                                            </div>
                                        </a>
                                        <span class="post-media_title">&copy; {{b.user.first_name}} {{b.user.last_name}}</span>
                                    </div>
                                    <div class="list-post-content">
                                        <a class="post-category-marker" href="{%url 'category' b.category.id%}">{{b.category}}</a>
                                        <h3><a href="{%url 'blogdetail' b.id b.slug %}">{{b.title}}</a></h3>
                                        <span class="post-date"><i class="far fa-clock"></i>{{b.creatte_at}}</span>
                                        <p>{{b.description}}</p>
                                        <ul class="post-opt">
                                            <li><i class="far fa-comments-alt"></i> 6 </li>
                                            <li><i class="fal fa-eye"></i> {{b.views}}</li>
                                        </ul>
                                        <div class="author-link"><a href=""><img src="{{b.user.userprofile.image.url}}" alt="">  <span>By {{b.user.first_name}} {{b.user.last_name}}</span></a></div>
                                    </div>
                                </div>
                                {%endfor%}
                                <!--list-post end-->

                            </div>
                        </div>
                        <div class="controls-limit fl-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="limit-box"></div>
    </section>
    <!-- section end -->
    <!-- section  -->
    <div class="gray-bg ad-wrap fl-wrap">
        <div class="content-banner-wrap">
            <img src="images/all/banner.jpg" class="respimg" alt="">
        </div>
    </div>
    <!-- section end -->
</div>
<!-- content  end-->
</div>
<!-- wrapper end -->

{%endblock%}