{%extends 'homebase.html'%}
{%load static%}
{%block title%}User Profile{%endblock%}
{%block body%}
<!-- wrapper -->
<div id="wrapper">
    <!-- content    -->
    <div class="content">
        <!--section   -->
        <section class="hero-section">
            <div class="bg-wrap hero-section_bg">
                <div class="bg" data-bg="{{user.userprofile.cover_image.url}}"></div>
            </div>
            <div class="container">
                <div class="hero-section_title">
                    <h2>My Page</h2>
                </div>
                <div class="clearfix"></div>
                <div class="breadcrumbs-list fl-wrap">
                    <a href="{%url 'home'%}">Home</a> <a href="#">Authors</a> <span>{{user.first_name}} {{user.last_name}}</span>
                </div>

            </div>
        </section>
        <!-- section end  -->
        <!--section   -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {%include 'user_panel.html'%}
                    </div>
                    <div class="col-md-8">
                        <div class="main-container fl-wrap fix-container-init">
                            <div class="section-title">
                                <h3>{{request.user.first_name}} {{request.user.last_name}} Articles:</h3>
                                <div class="steader_opt steader_opt_abs">
                                    <select name="filter" id="list" data-placeholder="Persons" class="style-select no-search-select">
                                        <option>Latest</option>
                                        <option>Most Read</option>
                                        <option>Most Viewed</option>
                                        <option>Most Commented</option>
                                    </select>
                                </div>
                            </div>
                            <!--grid-post-wrap-->
                            <div class="grid-post-wrap">
                                <div class="row">
                                    {%for b in blog%}
                                    <div class="col-md-6">
                                        <div class="grid-post-item  bold_gpi  fl-wrap">
                                            <div class="grid-post-media">
                                                <a href="{% url 'blogdetail' b.id b.slug %}" class="gpm_link">
                                                    <div class="bg-wrap">
                                                        <div class="bg" data-bg="{{b.image.url}}"></div>
                                                    </div>
                                                </a>
                                                <span class="post-media_title">&copy;{{b.user.first_name}} {{b.user.last_name}}</span>
                                            </div>
                                            <a class="post-category-marker purp-bg" href="">{{b.category.title}}</a>
                                            <div class="grid-post-content">
                                                <h3><a href="{%url 'blogdetail' b.id b.slug %}"></a>{{b.title}}</h3>
                                                <span class="post-date"><i class="far fa-clock"></i>{{b.create_at}}</span>
                                                <p>{{b.description}}</p>
                                            </div>
                                            <div class="grid-post-footer">
                                                <div class="author-link"><a href=""><img src="{{b.user.userprofile.image.url}}" alt="">  <span>By {{b.user.first_name}} {{b.user.last_name}}</span></a></div>
                                                <ul class="post-opt">
                                                    <li><i class="far fa-comments-alt"></i> 6</li>
                                                    <li><i class="fal fa-eye"></i>{{b.views}}</li>
                                                    <li><a href="{%url 'updateblog' b.id b.slug %}"><i class="fal fa-edit"></i>Edit</a></li>
                                                    <li><a href="{%url 'deleteblog' b.id b.slug %}"><i class="fal fa-trash"></i>Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                            <!--grid-post-wrap end-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="limit-box fl-wrap"></div>
        </section>
        <!-- section end -->
    </div>
    <!-- content  end-->
</div>
<!-- wrapper end -->
{%endblock%}